<!DOCTYPE html>
<html lang="zxx">
    
<!-- Mirrored from www.11-76.com/themes/foodex/01-LIGHT-MODE/index-01.html?fbclid=IwAR0WsiqxTgiYlXNIuInfbh7Id3L9E4sYpFLlDRoqvG3VsaS40j3PqLSeCLU by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Feb 2022 13:37:45 GMT -->
<head>
        <meta charset="utf-8">
        <title>
            Foodex - One Page Restaurant Template
        </title>
        <meta content="" name="description">
        <meta content="" name="author">
        <meta content="" name="keywords">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <!-- ex nihilo || October - November 2021 -->
            {% block css %}
        <!-- style start -->
        <link href="{{ asset('frontoffice/css/plugins.css') }}"  media="all" rel="stylesheet" type="text/css">
        <link href="{{ asset('frontoffice/css/style.css') }}" media="all" rel="stylesheet" type="text/css">
        <!-- style end -->
        <!-- google fonts start -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900%7CMontserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" type=
            "text/css">
        <!-- google fonts end -->
          {% endblock %}
    </head>
    <body>
        <!-- preloader start -->
        <div class="preloader-bg"></div>
        <div id="preloader">
            <div id="preloader-status">
                <div class="preloader-position loader">
                    <span></span>
                </div>
            </div>
        </div>
        <!-- preloader end -->
        <!-- border top start -->
        <div class="border-top top-position"></div>
        <!-- border top end -->
        <!-- border left start -->
        <div class="border-left left-position"></div>
        <!-- border left end -->
        <!-- border right start -->
        <div class="border-right right-position"></div>
        <!-- border right end -->
        <!-- border bottom start -->
        <div class="border-bottom bottom-position"></div>
        <!-- border bottom end -->
        <!-- navigation start -->
        <nav class="navbar navbar-fixed-top navbar-bg-switch">
            <!-- container start -->
            <div class="container">
                <div class="navbar-header fadeIn-element">
                    <!-- logo start -->
                    <div class="logo">
                        <a class="navbar-brand logo" href="#">
                            <!-- logo light start -->
                            <img alt="Logo" class="logo-light" src="{{ asset('frontoffice/img/logo-light.png')}}">
                            <!-- logo light end -->
                            <!-- logo dark start -->
                            <img alt="Logo" class="logo-dark" src="{{ asset('frontoffice/img/logo-dark.png')}}">
                            <!-- logo dark end -->
                        </a>
                    </div>
                    <!-- logo end -->
                </div>
                <!-- main navigation start -->
                <div class="main-navigation fadeIn-element">
                    <div class="navbar-header">
                        <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle
                        navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <!-- menu start -->
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#home">Home</a>
                            </li>
                            <li>
                                <a href="#about">About</a>
                            </li>
                            <li>
                                <a href="#services">Services</a>
                            </li>
                            <li>
                                <a href="#works">Menu</a>
                            </li>
                            <li>
                                <a href="#blank">Inside</a>
                            </li>
                            <li>
                                <a href="#blog">News</a>
                            </li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>
                        <!-- menu end -->
                    </div>
                </div>
                <!-- main navigation end -->
            </div>
            <!-- container end -->
        </nav>
        
        <!-- about end -->
         
        <!-- timeline IMG end -->
        <!-- team start -->
         
        <section id="footer" class="section-all bg-light">
            <!-- divider start -->
            <div class="divider-xl"></div>
            <!-- divider end -->
            <!-- container start -->
            <div class="container-fluid">
            
                <!-- row end -->
                <!-- divider start -->
                <div class="divider-l">
                    {% block body %}
                    {% endblock body %}
                </div>
                <!-- divider end -->
             
                <!-- row end -->
                <!-- divider start -->
                <div class="divider-l"></div>
                <!-- divider end -->
                <!-- row start -->
                <div class="row footer-credits">
                    <!-- footer logo start -->
                    <div class="footer-credits-logo">
                        <a href="#"><img alt="Logo Footer" src="{{ asset('frontoffice/img/logo-footer.png')}}"></a>
                    </div>
                    <!-- footer logo end -->
                    <!-- divider start -->
                    <div class="divider-l"></div>
                    <!-- divider end -->
                    <!-- col start -->
                    <div class="col-lg-12">
                        <!-- social icons start -->
                        <div class="social-icons">
                            <ul>
                                <li>
                                    <a class="ion-social-twitter" href="#"><span>Twitter</span></a>                                
                                </li>
                                <li>
                                    <a class="ion-social-facebook" href="#"><span>Facebook</span></a>                                
                                </li>
                                <li>
                                    <a class="ion-social-instagram" href="#"><span>Instagram</span></a>                                
                                </li>
                            </ul>
                        </div>
                        <!-- social icons end -->
                        <!-- divider start -->
                        <div class="divider-l"></div>
                        <!-- divider end -->
                    </div>
                    <!-- col end -->
                    <!-- col start -->
                    <div class="col-lg-12">
                        <!-- copyright start -->
                        <div class="copyright">
                            &copy; All Rights Reserved.<br>
                            Menu images <a href="http://www.freepik.com/">Designed by macrovector / Freepik</a>
                        </div>
                        <!-- copyright end -->
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
            <!-- divider start -->
            <div class="divider-l"></div>
            <!-- divider end -->
        </section>
        <!-- footer end -->
        <!-- to top arrow start -->
        <a href="#home">
            <div class="to-top-arrow">
                <span class="ion-ios-arrow-up"></span>
            </div>
        </a>
        <!-- to top arrow end -->
        <!-- photoSwipe background start -->
        <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                            "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                            "Zoom in/out"></button>
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                        "Next (arrow right)"></button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- photoSwipe background end -->
        <!-- scripts start -->
            
{% block js %}
        <script src="{{ asset('frontoffice/js/plugins.js') }}"></script> 
        <script src="{{ asset('frontoffice/js/foodex-01.js') }}"></script>
          {% endblock %}
        <!-- scripts end -->
    </body>

<!-- Mirrored from www.11-76.com/themes/foodex/01-LIGHT-MODE/index-01.html?fbclid=IwAR0WsiqxTgiYlXNIuInfbh7Id3L9E4sYpFLlDRoqvG3VsaS40j3PqLSeCLU by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Feb 2022 13:38:22 GMT -->
</html>