{% extends 'basefront.html.twig' %}
{% block body %}


    
<br><br><br><br>



              <!--menu-->
                <!-- works start -->
        <section id="works" class="section-all bg-dark">
            <!-- divider start -->
            <div class="divider-xl"></div>
            <!-- divider end -->
            
            <!-- container start -->
            <div class="container">
                <!-- row start -->
                <div class="row">
                    <!-- col start -->
                    <div class="col-lg-12">
                        <!-- section subtitle start -->
                        <h2 class="hero-subheading hero-subheading-dark">
                            <span>.</span>What's on the table
                        </h2>
                        <!-- section subtitle end -->
                        <!-- divider start -->
                        <div class="divider-m"></div>
                        <!-- divider end -->
                        <!-- section title start -->
                        <h2 class="hero-heading hero-heading-dark">
                            The <span>Menu</span>
                        </h2>
                        <!-- section title end -->
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
                <!-- divider start -->
               
                       <ul class="nav nav-tabs nav-tabs-fill" role="tablist">
                            {% for var in cat %}
                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('choix_categorie',{'id' : var.id}) }}">{{ var.libCat }}</a>
                            </li>
                            {% endfor %}
                           
                        </ul>
                <div class="divider-l"></div>
                <!-- divider end -->
                <!-- row start -->   
                <div class="row">
                {%  for menus in menu %}
                    <!-- col start -->
                    <div class="col-lg-12">
                        <!-- divider start -->
                        <div class="divider-l"></div>
                        <!-- divider end -->
                        <!-- items group 1 start -->
                        <div class="menu menu-visible" id="menu-1">
                            <div class="item">
                                <div class="item-wrapper">
                                    <!-- section title start -->
                                    <h3 class="item-name">{{menus.NomPlat}}</h3>
                                    <span class="item-divider"></span>
                                    <span class="item-price">{{menus.prixPlat}}dt</span>
                                    <!-- section title end -->
                                </div>
                                <!-- divider start -->
                                <div class="divider-m"></div>
                                <!-- divider end -->
                                <!-- section txt start -->
                                <p class="item-description">{{menus.libPlat}}</p>
                                <!-- section txt end -->
                            </div>
                        </div>
                        <!-- items group 1 end -->
                        <!-- items group 2 start -->
                        <div class="menu" id="menu-2">
                            <div class="item">
                                <div class="item-wrapper">
                                    <!-- section title start -->
                                    <h3 class="item-name">Caprese</h3>
                                    <span class="item-divider"></span>
                                    <span class="item-price">$16</span>
                                    <!-- section title end -->
                                </div>
                                <!-- divider start -->
                                <div class="divider-m"></div>
                                <!-- divider end -->
                                <!-- section txt start -->
                                <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et arcu nulla. Curabitur blandit feugiat elit id tempus.</p>
                                <!-- section txt end -->
                            </div>
                            <div class="item">
                                <div class="item-wrapper">
                                    <!-- section title start -->
                                    <h3 class="item-name">Panzanella</h3>
                                    <span class="item-divider"></span>
                                    <span class="item-price">$17</span>
                                    <!-- section title end -->
                                </div>
                                <!-- divider start -->
                                <div class="divider-m"></div>
                                <!-- divider end -->
                                <!-- section txt start -->
                                <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et arcu nulla. Curabitur blandit feugiat elit id tempus.</p>
                                <!-- section txt end -->
                            </div>
                            <div class="item">
                                <div class="item-wrapper">
                                    <!-- section title start -->
                                    <h3 class="item-name">Insalata di riso</h3>
                                    <span class="item-divider"></span>
                                    <span class="item-price">$18</span>
                                    <!-- section title end -->
                                </div>
                                <!-- divider start -->
                                <div class="divider-m"></div>
                                <!-- divider end -->
                                <!-- section txt start -->
                                <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et arcu nulla. Curabitur blandit feugiat elit id tempus.</p>
                                <!-- section txt end -->
                            </div>
                            <div class="item">
                                <div class="item-wrapper">
                                    <!-- section title start -->
                                    <h3 class="item-name">Insalata Russa</h3>
                                    <span class="item-divider"></span>
                                    <span class="item-price">$19</span>
                                    <!-- section title end -->
                                </div>
                                <!-- divider start -->
                                <div class="divider-m"></div>
                                <!-- divider end -->
                                <!-- section txt start -->
                                <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et arcu nulla. Curabitur blandit feugiat elit id tempus.</p>
                                <!-- section txt end -->
                            </div>
                        </div>
                        <!-- items group 2 end -->
                        <!-- items group 3 start -->
                        <div class="menu" id="menu-3">
                            <div class="item">
                                <div class="item-wrapper">
                                    <!-- section title start -->
                                    <h3 class="item-name">Negroni</h3>
                                    <span class="item-divider"></span>
                                    <span class="item-price">$6</span>
                                    <!-- section title end -->
                                </div>
                                <!-- divider start -->
                                <div class="divider-m"></div>
                                <!-- divider end -->
                                <!-- section txt start -->
                                <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et arcu nulla. Curabitur blandit feugiat elit id tempus.</p>
                                <!-- section txt end -->
                            </div>
                            <div class="item">
                                <div class="item-wrapper">
                                    <!-- section title start -->
                                    <h3 class="item-name">Campari</h3>
                                    <span class="item-divider"></span>
                                    <span class="item-price">$7</span>
                                    <!-- section title end -->
                                </div>
                                <!-- divider start -->
                                <div class="divider-m"></div>
                                <!-- divider end -->
                                <!-- section txt start -->
                                <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et arcu nulla. Curabitur blandit feugiat elit id tempus.</p>
                                <!-- section txt end -->
                            </div>
                            <div class="item">
                                <div class="item-wrapper">
                                    <!-- section title start -->
                                    <h3 class="item-name">Americano</h3>
                                    <span class="item-divider"></span>
                                    <span class="item-price">$8</span>
                                    <!-- section title end -->
                                </div>
                                <!-- divider start -->
                                <div class="divider-m"></div>
                                <!-- divider end -->
                                <!-- section txt start -->
                                <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et arcu nulla. Curabitur blandit feugiat elit id tempus.</p>
                                <!-- section txt end -->
                            </div>
                            <div class="item">
                                <div class="item-wrapper">
                                    <!-- section title start -->
                                    <h3 class="item-name">Bellini</h3>
                                    <span class="item-divider"></span>
                                    <span class="item-price">$9</span>
                                    <!-- section title end -->
                                </div>
                                <!-- divider start -->
                                <div class="divider-m"></div>
                                <!-- divider end -->
                                <!-- section txt start -->
                                <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et arcu nulla. Curabitur blandit feugiat elit id tempus.</p>
                                <!-- section txt end -->
                            </div>
                        </div>
                        <!-- items group 3 end -->
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
                <!-- divider start -->
                <div class="divider-xl"></div>
                <!-- divider end -->
            </div>
            {% endfor %} 
            <!-- container end -->
        </section>
        <!-- works end --> 
        <script src="http://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script>
        var ratedIndex = -1 , uID = 0;
        var ref=null;
        $(document).ready(function () {
            resetStarColors();

            if (localStorage.getItem('ratedIndex') != null) {
                setStars(parseInt(localStorage.getItem('ratedIndex')));
                uID = localStorage.getItem('uID');
            }

            $('.fa-star').on('click', function () {
               ratedIndex = parseInt($(this).data('index'));
               ref=$(this).data('ref');
               localStorage.setItem('ratedIndex', ratedIndex);
               saveToTheDB();
            });

            $('.fa-star').mouseover(function () {
                resetStarColors();
                var currentIndex = parseInt($(this).data('index'));
                setStars(currentIndex);
            });

            $('.fa-star').mouseleave(function () {
                resetStarColors();

                if (ratedIndex != -1)
                    setStars(ratedIndex);
            });
        });

        function saveToTheDB() {
     /*   $.ajax({
               url: "rating.php",
               method: "POST",
               dataType: 'json',
               data: {
                   save: 1,
                   uID: uID,
                   ratedIndex: ratedIndex,
                   ref: ref
               }, success: function (r) {
                    uID = r.id;
                    localStorage.setItem('uID', uID);
               }
            });*/
           
        }

        function setStars(max) {
            for (var i=0; i <= max; i++)
                $('.fa-star:eq('+i+')').css('color', 'green');
        }

        function resetStarColors() {
            $('.fa-star').css('color', 'white');
        }
    </script>

               
               
           
    
    {% endblock %}