{% extends 'basefront.html.twig' %}
{% block body %}

<style>
    .bg-register-image{
        background-image: url("{{ asset('frontoffice/img/background/parallax-blank.jpg') }}") !important;
    }
</style>

    <title>Trood</title>



    <!-- Custom styles for this template-->
    <link href="{{ asset('frontoffice/front/css/sb-admin-2.min.css')}}" rel="stylesheet">


<br>
<br>
<br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br>

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">

        <div class="card-body p-0">









            {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>

                            <div class="form-group row">



                                <div class="col-sm-6 mb-3 mb-sm-0">

                                    {{ form_label(form.login	, ' login')  }}
                                    {{ form_widget(form.login	  ,{'attr': {'class': 'form-control form-control-user' , 'placeholder' : ' login'}} ) }}
                                    {{ form_errors(form.login ) }}
                               </div>




                                <div class="col-sm-6">
                                    {{ form_label(form.email, 'email ')  }}

                                    {{ form_widget(form.email , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'email '}} ) }}
                                    {{ form_errors(form.email) }}
                                </div>



                            </div>
                            <div class="form-group">
                                {{ form_label(form.password, 'password')  }}

                                {{ form_widget(form.password , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'mdp'}} ) }}
                                {{ form_errors(form.password) }}
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form_label(form.nom, 'nom')  }}

                                    {{ form_widget(form.nom , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'nom'}} ) }}
                                    {{ form_errors(form.nom) }}
                                </div>


                                <div class="col-sm-6">
                                    {{ form_label(form.prenom, 'prenom')  }}

                                    {{ form_widget(form.prenom , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'prenom'}} ) }}
                                    {{ form_errors(form.prenom) }}
                                </div>


                                <div class="col-sm-6 mb-3 mb-sm-0">

                                    {{ form_label(form.datenaissance, ' datenaissance')  }}
                                     {{ form_widget(form.datenaissance , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : ' datenaissance'}} ) }}
                                    {{ form_errors(form.datenaissance) }}
                                </div>




                                <div class="col-sm-6">
                                    {{ form_label(form.genre, 'genre ')  }}

                                    {{ form_widget(form.genre , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Sexe '}} ) }}
                                    {{ form_errors(form.genre) }}
                                </div>



                            </div>





                            <hr>
                            {{ form_row(form.Submit, {'attr': {'class': 'btn btn-google btn-user btn-block' }}) }}


                        <hr>
                        <div class="text-center">
                            <a class="small" href="#">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="#">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}














        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->



<script src="{{ asset('frontoffice/front/vendor/jquery/jquery.min.js')}}"></script>
<script src="{{ asset('frontoffice/front/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ asset('frontoffice/front/vendor/jquery-easing/jquery.easing.min.js')}}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ asset('frontoffice/front/js/sb-admin-2.min.js')}}"></script>

</body>

</html>
{% endblock %}