<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from www.11-76.com/themes/foodex/01-LIGHT-MODE/index-01.html?fbclid=IwAR0WsiqxTgiYlXNIuInfbh7Id3L9E4sYpFLlDRoqvG3VsaS40j3PqLSeCLU by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Feb 2022 13:37:45 GMT -->
<head>
    <meta charset="utf-8">
    <title>
        TROOD
    </title>
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="" name="keywords">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <!-- ex nihilo || October - November 2021 -->
    {% block css %}
        <!-- style start -->
        <link href="{{ asset('frontoffice/css/plugins.css') }}"  media="all" rel="stylesheet" type="text/css">
        <link href="{{ asset('frontoffice/css/style.css') }}" media="all" rel="stylesheet" type="text/css">
        <!-- style end -->
        <!-- google fonts start -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900%7CMontserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" type=
        "text/css">
        <!-- google fonts end -->
    {% endblock %}
</head>
<body>
<!-- preloader start -->
<div class="preloader-bg"></div>
<div id="preloader">
    <div id="preloader-status">
        <div class="preloader-position loader">
            <span></span>
        </div>
    </div>
</div>
<!-- preloader end -->
<!-- border top start -->
<div class="border-top top-position"></div>
<!-- border top end -->
<!-- border left start -->
<div class="border-left left-position"></div>
<!-- border left end -->
<!-- border right start -->
<div class="border-right right-position"></div>
<!-- border right end -->
<!-- border bottom start -->
<div class="border-bottom bottom-position"></div>
<!-- border bottom end -->
<!-- navigation start -->
{% block header %}
<nav class="navbar navbar-fixed-top navbar-bg-switch">
    <!-- container start -->
    <div class="container">
        <div class="navbar-header fadeIn-element">
            <!-- logo start -->
            <div class="logo">
                <a class="navbar-brand logo" href="#">
                    <!-- logo light start -->
                    <img alt="Logo" class="logo-light" src="{{ asset('frontoffice/img/logo-light.png')}}">
                    <!-- logo light end -->
                    <!-- logo dark start -->
                    <img alt="Logo" class="logo-dark" src="{{ asset('frontoffice/img/logo-dark.png')}}">
                    <!-- logo dark end -->
                </a>
            </div>
            <!-- logo end -->
        </div>
        <!-- main navigation start -->
        <div class="main-navigation fadeIn-element">
            <div class="navbar-header">
                <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle
                        navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <!-- menu start -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="/Frontoffice/listeoffrevoyage">Offre de voyage</a>
                    </li>
                    <li>
                        <a href="/voiture">locationvoiture</a>
                    </li>
                    <li>
                        <a href="#services">Restaurant</a>
                    </li>
                    <li>
                        <a href="#works">Menu</a>
                    </li>
                    <li>
                        <a href="#blank">Inside</a>
                    </li>
                    <li>
                        <a href="#blog">News</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li>
                      {% if app.user and app.user.email %}
                          <a href="{{ path('update_user') }}">{{ app.user.email }}</a>
                      {% endif %}
                    </li>
                </ul>
                <!-- menu end -->
            </div>
        </div>
        <!-- main navigation end -->
    </div>
    <!-- container end -->
</nav>
{% endblock %}

{% block body %}
<div class="upper-page" id="home">
    <!-- dots start -->
    <div class="dots">
        <div class="the-dots"></div>
    </div>
    <div class="dots-reverse">
        <div class="the-dots"></div>
    </div>
    <!-- dots end -->
    <!-- hero bg start -->
    <div class="hero-fullscreen">
        <div class="hero-fullscreen-FIX">
            <div class="hero-bg">
                <!-- hero slider wrapper start -->
                <div class="swiper-container-wrapper">
                    <!-- swiper container start -->
                    <div class="swiper-container">
                        <!-- swiper wrapper start -->
                        <div class="swiper-wrapper">
                            <!-- swiper slider item start -->
                            <div class="swiper-slide">
                                <div class="swiper-slide-inner" data-swiper-parallax="50%">
                                    <!-- swiper slider item IMG start -->
                                    <div class="swiper-slide-inner-bg bg-img-1">
                                    </div>
                                    <!-- swiper slider item IMG end -->
                                    <!-- overlay start -->
                                    <div class="overlay overlay-dark-75"></div>
                                    <!-- overlay end -->
                                    <!-- swiper slider item txt start -->
                                    <div class="swiper-slide-inner-txt">
                                        <!-- section subtitle start -->
                                        <a href="#">
                                            <h2 class="hero-subheading hero-subheading-home fadeIn-element introduction">
                                                <span>Image caption #1</span>
                                            </h2>
                                        </a>
                                        <!-- section subtitle end -->
                                        <!-- divider start -->
                                        <div class="divider-m"></div>
                                        <!-- divider end -->
                                        <!-- section title start -->
                                        <h1 class="hero-heading hero-heading-home fadeIn-element introduction">
                                            Simplicity is compl<span>ex</span>.
                                        </h1>
                                        <!-- section title end -->
                                    </div>
                                    <!-- swiper slider item txt end -->
                                </div>
                            </div>
                            <!-- swiper slider item end -->
                            <!-- swiper slider item start -->
                            <div class="swiper-slide">
                                <div class="swiper-slide-inner" data-swiper-parallax="50%">
                                    <!-- swiper slider item IMG start -->
                                    <div class="swiper-slide-inner-bg bg-img-2">
                                    </div>
                                    <!-- swiper slider item IMG end -->
                                    <!-- overlay start -->
                                    <div class="overlay overlay-dark-75"></div>
                                    <!-- overlay end -->
                                    <!-- swiper slider item txt start -->
                                    <div class="swiper-slide-inner-txt">
                                        <!-- section subtitle start -->
                                        <a href="#">
                                            <h2 class="hero-subheading hero-subheading-home fadeIn-element introduction">
                                                <span>Image caption #2</span>
                                            </h2>
                                        </a>
                                        <!-- section subtitle end -->
                                        <!-- divider start -->
                                        <div class="divider-m"></div>
                                        <!-- divider end -->
                                        <!-- section title start -->
                                        <h1 class="hero-heading hero-heading-home fadeIn-element introduction">
                                            Design is a <span>pro</span>cess.
                                        </h1>
                                        <!-- section title end -->
                                    </div>
                                    <!-- swiper slider item txt end -->
                                </div>
                            </div>
                            <!-- swiper slider item end -->
                            <!-- swiper slider item start -->
                            <div class="swiper-slide">
                                <div class="swiper-slide-inner" data-swiper-parallax="50%">
                                    <!-- swiper slider item IMG start -->
                                    <div class="swiper-slide-inner-bg bg-img-3">
                                        <!-- HTML5 video URL start -->
                                        <video playsinline autoplay muted loop>
                                            <source src="https://www.11-76.com/html5-videos-21/foodex/foodex.mp4" type="video/mp4">
                                        </video>
                                        <!-- HTML5 video URL end -->
                                    </div>
                                    <!-- swiper slider item IMG end -->
                                    <!-- overlay start -->
                                    <div class="overlay overlay-dark-75"></div>
                                    <!-- overlay end -->
                                    <!-- swiper slider item txt start -->
                                    <div class="swiper-slide-inner-txt">
                                        <!-- section subtitle start -->
                                        <a href="#">
                                            <h2 class="hero-subheading hero-subheading-home fadeIn-element introduction">
                                                <span>Image caption #3</span>
                                            </h2>
                                        </a>
                                        <!-- section subtitle end -->
                                        <!-- divider start -->
                                        <div class="divider-m"></div>
                                        <!-- divider end -->
                                        <!-- section title start -->
                                        <h1 class="hero-heading hero-heading-home fadeIn-element introduction">
                                            Aesthetic is a decisi<span>on</span>.
                                        </h1>
                                        <!-- section title end -->
                                    </div>
                                    <!-- swiper slider item txt end -->
                                </div>
                            </div>
                            <!-- swiper slider item end -->
                            <!-- swiper slider item start -->
                            <div class="swiper-slide">
                                <div class="swiper-slide-inner" data-swiper-parallax="50%">
                                    <!-- swiper slider item IMG start -->
                                    <div class="swiper-slide-inner-bg bg-img-4">
                                    </div>
                                    <!-- swiper slider item IMG end -->
                                    <!-- overlay start -->
                                    <div class="overlay overlay-dark-75"></div>
                                    <!-- overlay end -->
                                    <!-- swiper slider item txt start -->
                                    <div class="swiper-slide-inner-txt">
                                        <!-- section subtitle start -->
                                        <a href="#">
                                            <h2 class="hero-subheading hero-subheading-home fadeIn-element introduction">
                                                <span>Image caption #4</span>
                                            </h2>
                                        </a>
                                        <!-- section subtitle end -->
                                        <!-- divider start -->
                                        <div class="divider-m"></div>
                                        <!-- divider end -->
                                        <!-- section title start -->
                                        <h1 class="hero-heading hero-heading-home fadeIn-element introduction">
                                            Style is every<span>thing</span>.
                                        </h1>
                                        <!-- section title end -->
                                    </div>
                                    <!-- swiper slider item txt end -->
                                </div>
                            </div>
                            <!-- swiper slider item end -->
                        </div>
                        <!-- swiper wrapper end -->
                    </div>
                    <!-- swiper container end -->
                </div>
                <!-- hero slider wrapper end -->
                <!-- swiper slider controls start -->
                <div class="hero-slider-bg-controls fadeIn-element introduction">
                    <div class="swiper-slide-controls slide-prev">
                        <div class="ion-ios-arrow-left"></div>

                    </div>
                    <div class="swiper-slide-controls slide-next">
                        <div class="ion-ios-arrow-right"></div>
                    </div>
                </div>
                <!-- swiper slider controls end -->
                <!-- swiper slider pagination start -->
                <div class="swiper-slide-pagination fadeIn-element introduction"></div>
                <!-- swiper slider pagination end -->
                <!-- swiper slider play-pause start -->
                <div class="swiper-slide-controls-play-pause-wrapper swiper-slide-controls-play-pause slider-on-off fadeIn-element introduction">
                    <div class="slider-on-off-switch">
                        <i class="ion-ios-play"></i>
                    </div>
                    <!-- swiper slider progress start -->
                    <div class="slider-progress-bar">
                                <span>
                                    <svg class="circle-svg" height="50" width="50">
                                        <circle class="circle" cx="25" cy="25" fill="none" r="24" stroke="#e0e0e0" stroke-width="2"></circle>
                                    </svg>
                                </span>
                    </div>
                    <!-- swiper slider progress end -->
                </div>
                <!-- swiper slider play-pause end -->
            </div>
        </div>
    </div>
    <!-- hero bg end -->
    <!-- center container start -->
    <!-- center container end -->
    <!-- waves start -->
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave-1" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave-1" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave-1" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave-1" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave-1" x="48" y="7" fill="#fff" />
        </g>
    </svg>
    <!-- waves end -->
</div>
<!-- home end -->






{% endblock body %}



<!-- team start -->

<section id="footer" class="section-all bg-light">
    <!-- divider start -->
    <div class="divider-xl"></div>
    <!-- divider end -->
    <!-- container start -->
    <div class="container-fluid">

        <!-- row end -->
        <!-- divider start -->
        <div class="divider-l"></div>
        <!-- divider end -->

        <!-- row end -->
        <!-- divider start -->
        <div class="divider-l"></div>
        <!-- divider end -->
        <!-- row start -->
        <div class="row footer-credits">
            <!-- footer logo start -->
            <div class="footer-credits-logo">
                <a href="#"><img alt="Logo Footer" src="{{ asset('frontoffice/img/logo-footer.png')}}"></a>
            </div>
            <!-- footer logo end -->
            <!-- divider start -->
            <div class="divider-l"></div>
            <!-- divider end -->
            <!-- col start -->
            <div class="col-lg-12">
                <!-- social icons start -->
                <div class="social-icons">
                    <ul>
                        <li>
                            <a class="ion-social-twitter" href="#"><span>Twitter</span></a>
                        </li>
                        <li>
                            <a class="ion-social-facebook" href="#"><span>Facebook</span></a>
                        </li>
                        <li>
                            <a class="ion-social-instagram" href="#"><span>Instagram</span></a>
                        </li>
                    </ul>
                </div>
                <!-- social icons end -->
                <!-- divider start -->
                <div class="divider-l"></div>
                <!-- divider end -->
            </div>
            <!-- col end -->
            <!-- col start -->
            <div class="col-lg-12">
                <!-- copyright start -->
                <div class="copyright">
                    &copy; All Rights Reserved.<br>
                    Menu images <a href="http://www.freepik.com/">Designed by macrovector / Freepik</a>
                </div>
                <!-- copyright end -->
            </div>
            <!-- col end -->
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
    <!-- divider start -->
    <div class="divider-l"></div>
    <!-- divider end -->
</section>
<!-- footer end -->
<!-- to top arrow start -->
<a href="#home">
    <div class="to-top-arrow">
        <span class="ion-ios-arrow-up"></span>
    </div>
</a>
<!-- to top arrow end -->
<!-- photoSwipe background start -->
<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                "Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
            "Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<!-- photoSwipe background end -->
<!-- scripts start -->

{% block js %}
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/621b9b56a34c2456412892f3/1fsttdihk';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <script src="{{ asset('frontoffice/js/plugins.js') }}"></script>
    <script src="{{ asset('frontoffice/js/foodex-01.js') }}"></script>

    <!-- jQuery -->


    <script src="{{ asset('assets_front/js/jquery.js') }}"></script>


    <!-- bootstrap -->


    <script src="{{ asset('assets_front/js/bootstrap.js') }}"></script>


    <!-- Slick Slider -->


    <script src="{{ asset('assets_front/js/slick.min.js') }}"></script>


    <!-- Popup Js -->


    <script src="{{ asset('assets_front/js/magnific-popup.js') }}"></script>


    <!-- Dll Menu Js -->


    <script src="{{ asset('assets_front/js/dl-menu/modernizr.custom.js') }}"></script>


    <script src="{{ asset('assets_front/js/dl-menu/jquery.dlmenu.js') }}"></script>


    <!-- Fontawesome Js -->


    <script src="{{ asset('assets_front/js/fontawesome.js') }}"></script>


    <!-- Date Picker -->


    <script type="text/javascript" src="{{ asset('assets_front/js/moment.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('assets_front/js/daterangepicker.min.js') }}"></script>


    <!-- Map Api Library -->




    <!-- Google Map Js -->


    <script src="{{ asset('assets_front/js/gmap3.min.js') }}"></script>


    <!-- Input Number Js -->


    <script src="{{ asset('assets_front/js/input-number.js') }}"></script>
{% endblock %}
<!-- scripts end -->
</body>

<!-- Mirrored from www.11-76.com/themes/foodex/01-LIGHT-MODE/index-01.html?fbclid=IwAR0WsiqxTgiYlXNIuInfbh7Id3L9E4sYpFLlDRoqvG3VsaS40j3PqLSeCLU by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Feb 2022 13:38:22 GMT -->
</html>